<!--<div class="container">
    <app-inter-comp-v1></app-inter-comp-v1>
</div>-->

  <!-- <div class="container">
      <div class="col-md-12">
          <app-lifecycle *ngIf="isVsbl"></app-lifecycle>
      </div>
  </div> -->
  <!--  <div class="row">
      <div class="col-md-12">
          <input type="button" value="Okay" class="btn btn-info" (click)="isVsbl = !isVsbl"> 
      </div>
  </div> -->
   <div class="container">
     <!--  <app-my-boot></app-my-boot> -->
      <app-directives></app-directives> 
  </div> 
